.user{
    width: 150px;
    height: 50px;
    padding: 0;
    background-size: 200%;
    background-position: right;
    background-image: linear-gradient(to left, #ff0000, #f5b400, #ff5e00);
    transition: 0.4s;
    border: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: 1px solid #ffffff;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    font-family: "Bebas Neue", sans-serif !important;
    letter-spacing: 2px;
}

.user:hover{
    background-position: left;
    box-shadow: 1px 1px 5px #e0e0e0, -1px -1px 5px #ccc;
}

.logOut{
    width: 150px;
    height: 50px;
    margin-left: -7px;
    background-size: 200%;
    background-image: linear-gradient(to left, #ff5e00, #f5b400, #ff0000);
    transition: 0.4s;
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: 1px solid #ffffff;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
}

.logOut:hover{
    background-position: right;
    box-shadow: 1px 1px 5px #e0e0e0, -1px -1px 5px #ccc;
}

 .user .logOut{
    text-decoration: none;
  }

  @media screen and (max-width: 1700px){
    .logOut{
        position: relative;
        font-size: small;
        top: 1px;
        width: 120px;
        height: 40px;
    }
    .user{
        font-size: small;
        width: 120px;
        height: 40px;
    }
  }

  @media screen and (max-width: 1100px){
    .logOut{
        height: 35px;
    }
    .user{
        height: 35px;
    }
}

@media screen and (max-width: 700px){
    .logOut{
        margin-left: -1px;
      }
}