body {
  margin: 0;
  padding: 0;
}

#particles-js {
  /*background-image: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgba(0,212,255,1) 100%);*/
  background: #ffffff;
}

.anim {
  color: #000000;
}



body {
    font-family: "Bebas Neue", sans-serif !important;;
}

table {
    font-size: small;
    letter-spacing: 3px;
}

/*
    width = height = 70px
    border-width = 10px
    time = 1s
*/
.infinity-loader {
    position: fixed; /*We have to use it as we are using absolute positioning on its children and we will align it in the center of the page*/
    left: 50%;
    top: 80vh;
    transform: translate(-50%, -50%);
    /*yes, we have to define width and height, otherwise transformation won't work*/
    width: 130px; /* 2 x width - border-width */
    height: 70px; /* width */
  }
  
  .infinity-loader .bg div,
  .infinity-loader > .fg > div > div {
    width: 70px; /* width */
    height: 70px; /* width */
    border: 10px solid #d4d4d4; /* border-width solid #aaa */
    box-sizing: border-box; /* so that its border won't increase its width*/
    border-radius: 50%; /* to make the div round*/
    position: absolute;
  }
  
  .infinity-loader .right-bg {
    transform: translate(100%, 0);
    left: -10px; /* -border-width */
  }
  
  .infinity-loader > .fg > div > div {
    border-color: rgb(56, 248, 255) rgb(56, 248, 255) transparent transparent;
    transform: rotate(135deg);
    animation: spin 1s linear infinite; /* spin time linear infinite */
    position: static; /*add this otherwise transformation in its parent won't work as expect*/
  }
  
  .infinity-loader > .fg > div {
    clip: rect(0, 70px, 35px, 0); /* 0, width, width/2, 0*/
    position: absolute; /* required for using clip: rect() */
  }
  
  .infinity-loader > .fg > .bottom-right-rect {
    left: -10px; /* -border-width */
    transform: translateX(100%) scale(1, -1);
  }
  
  .infinity-loader > .fg > .bottom-right-rect > div {
    animation-delay: 0.25s; /* time/4 */
  }
  
  .infinity-loader > .fg > .top-right-rect {
    left: -10px; /* -border-width */
    transform: translateX(100%) scale(-1, 1);
  }
  
  .infinity-loader > .fg > .top-right-rect > div {
    animation-delay: 0.5s; /* (2 x time)/4 */
  }
  
  .infinity-loader > .fg > .bottom-left-rect {
    transform: scale(-1);
  }
  
  .infinity-loader > .fg > .bottom-left-rect > div {
    animation-delay: 0.75s; /* (3 x time)/4 */
  }
  
  .infinity-loader > .fg {
    filter: drop-shadow(0 0 6px rgb(56, 248, 255));
  }
  
  @keyframes spin {
    50%,
    100% {
      transform: rotate(495deg);
    } /* (360 + 135)deg*/
  }

  .infinity-loader {
    scale: 0.8;
  }
  @media (max-width: 1550px) {
    .infinity-loader {
      scale: 0.6;
    }
  }

/*MAIN*/
.explanations {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 0.8vw;
  font-family: "Montserrat", sans-serif;
}

.explanations span {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1vw;
}

.subtitle {
  transition: 0.3s ease-in-out;
}

.subtitle:hover {
  color: rgb(56, 248, 255);
  cursor: pointer;
  
}

/*FOOTER*/
ul {
  padding-left: 0;
}
img{
  margin-top: 5px;
}
.signIn{
  border-right: 1px solid #000000;
  color: #000000;
}
.signUp{
  border-left: 1px solid #000000;
  color: #000000;
}
.signIn:hover{
  background-position: left;
  box-shadow: 1px 1px 5px #111111, -1px -1px 5px #000000;
}
.signUp:hover{
  background-position: right;
  box-shadow: 1px 1px 5px #111111, -1px -1px 5px #000000;
}

/*ASIDE*/
#toolTipR {
  display: none;
  position: absolute;
  top: 0;
  left: -600px;
  width: 400px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  border-radius: 100px;
  margin: 50px;
  padding: 10px;
  letter-spacing: 2px;
  font-size: large;
}

/*RESPONSIVITY*/


/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  background-color: transparent;
  width: 13px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#bbbbbb, #cccccc);
  border-left: solid 4px rgb(255, 255, 255);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 5px;
}

@media screen and (max-width: 2000px){
  #toolTipR {
    width: 300px;
    font-size: small;
  }
}



